/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2712";
	fragment@0 {
		target = <&hab_adc1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0>;
				ti,gain = <0>;
				ti,datarate = <4>;
			};
			channel@1 {
				reg = <3>;
				ti,gain = <0>;
				ti,datarate = <4>;
			};
		};
	};

	fragment@1 {
		target = <&hab_adc2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0>;
				ti,gain = <0>;
				ti,datarate = <4>;
			};
		};
	};

	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			hab_adc1: ads1115@48 {
				compatible = "ti,ads1115";
				reg = <0x48>;
				status = "okay";

				#address-cells = <1>;
				#size-cells = <0>;
			};

			hab_adc2: ads1115@49 {
				compatible = "ti,ads1115";
				reg = <0x49>;
				status = "okay";

				#address-cells = <1>;
				#size-cells = <0>;
			};
		};
	};

};